# Implementation of SVM on GOT data

Here, we will use Game of Thrones Character data set to identify whether the character is alive or dead based on various features.

In [1]:
#Import required libraries
import pandas as pd
from sklearn.model_selection import train_test_split                      #To split train and test dataset
from sklearn import svm                                                   #To implement svm model
from sklearn.metrics import accuracy_score                                #To measure accuracy score

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving character-predictions_pose.csv to character-predictions_pose.csv

In [2]:
#Load the data
df_orig = pd.read_csv("character-predictions_pose.csv")
df = df_orig
df.head()

   S.No   plod                  name  ... isPopular  popularity isAlive
0     1  0.946  Viserys II Targaryen  ...         1    0.605351       0
1     2  0.613           Walder Frey  ...         1    0.896321       1
2     3  0.507          Addison Hill  ...         0    0.267559       1
3     4  0.924           Aemma Arryn  ...         0    0.183946       0
4     5  0.383        Sylva Santagar  ...         0    0.043478       1

[5 rows x 30 columns]

In [3]:
df.shape

(1946, 30)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1946 entries, 0 to 1945
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No               1946 non-null   int64
 1   plod               1946 non-null   float64
 2   name               1946 non-null   object
 3   title              938 non-null    object
 4   male               1946 non-null   int64
 5   culture            677 non-null    object
 6   dateOfBirth        433 non-null    float64
 7   DateoFdeath        444 non-null    float64
 8   mother             21 non-null     object
 9   father             26 non-null     object
 10  heir               23 non-null     object
 11  house              1519 non-null   object
 12  spouse             276 non-null    object
 13  book1              1946 non-null   int64
 14  book2              1946 non-null   int64
 15  book3              1946 non-null   int64
 16  book4              1946 non-null   int64
 17  book5              1946 non-null   int64
 18  isAliveMother      21 non-null     float64
 19  isAliveFather      26 non-null     float64
 20  isAliveHeir        23 non-null     float64
 21  isAliveSpouse      276 non-null    float64
 22  isMarried          1946 non-null   int64
 23  isNoble            1946 non-null   int64
 24  age                433 non-null    float64
 25  numDeadRelations   1946 non-null   int64
 26  boolDeadRelations  1946 non-null   int64
 27  isPopular          1946 non-null   int64
 28  popularity         1946 non-null   float64
 29  isAlive            1946 non-null   int64
dtypes: float64(9), int64(13), object(8)
memory usage: 456.2+ KB

In [5]:
#Remove identity columns
#Data contains few rows where age is negative which is not possible, so remove such rows

removecolumns = ['S.No', 'name', 'title', 'culture', 'DateoFdeath', 'mother', 'father', 'heir', 'house', 'spouse', 'age']
df = df.drop(columns=removecolumns)
df.head()

    plod  male  dateOfBirth  ...  isPopular  popularity  isAlive
0  0.946     1          NaN  ...          1    0.605351        0
1  0.613     1        208.0  ...          1    0.896321        1
2  0.507     1          NaN  ...          0    0.267559        1
3  0.924     0         82.0  ...          0    0.183946        0
4  0.383     0        276.0  ...          0    0.043478        1

[5 rows x 19 columns]

In [6]:
df.isna().sum()

plod                    0
male                    0
dateOfBirth          1513
book1                   0
book2                   0
book3                   0
book4                   0
book5                   0
isAliveMother        1925
isAliveFather        1920
isAliveHeir          1923
isAliveSpouse        1670
isMarried               0
isNoble                 0
numDeadRelations        0
boolDeadRelations       0
isPopular               0
popularity              0
isAlive                 0
dtype: int64

In [7]:
#Remove above columns where null value pecentage is high

list2 = ['dateOfBirth', 'isAliveMother', 'isAliveFather', 'isAliveHeir', 'isAliveSpouse']

df = df.drop(columns=list2)
df.isna().sum()

plod                 0
male                 0
book1                0
book2                0
book3                0
book4                0
book5                0
isMarried            0
isNoble              0
numDeadRelations     0
boolDeadRelations    0
isPopular            0
popularity           0
isAlive              0
dtype: int64

In [8]:
df.shape

(1946, 14)

In [9]:
#Seperate dependent and independent variables
x = df.drop(columns=['isAlive'])
y = df['isAlive']

In [11]:
df['isAlive'].value_counts(normalize=True)

1    0.745632
0    0.254368
Name: isAlive, dtype: float64

In [12]:
#Split the datset into train and test dataset

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2, stratify=y)

In [13]:
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(1556, 13)
(390, 13)
(1556,)
(390,)

In [14]:
#Train SVM model on train dataset

classifier = svm.SVC()
classifier = classifier.fit(xtrain, ytrain)

In [15]:
classifier

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [16]:
#Predict on test data using the model
pred1 = classifier.predict(xtest)

In [17]:
#Check the accuracy of the model

acc1 = accuracy_score(pred1, ytest)
print(acc1)

0.7769230769230769

In [20]:
#Lets create a function to build a svm model, predict on test data and give the accuracy score

def svmclassifier(xtrain, ytrain,xtest, ytest, kernel, cvalue, gammavalue):
    mod = svm.SVC(kernel = kernel, C = cvalue, gamma = gammavalue, random_state=121)
    mod = mod.fit(xtrain, ytrain)
    pred = mod.predict(xtest)
    acc = accuracy_score(pred, ytest)
    print("Accuray of model is :", acc)

In [21]:
#Lets build the model for various parameters of c and gamma values

In [22]:
mod1 = svmclassifier(xtrain, ytrain, xtest, ytest, 'rbf', 1, 0.1)

Accuray of model is : 0.7692307692307693

In [23]:
mod1 = svmclassifier(xtrain, ytrain, xtest, ytest, 'rbf', 1, 1)

Accuray of model is : 0.7871794871794872

In [26]:
mod1 = svmclassifier(xtrain, ytrain, xtest, ytest, 'rbf', 1, 10)

Accuray of model is : 0.7743589743589744

In [27]:
mod1 = svmclassifier(xtrain, ytrain, xtest, ytest, 'rbf', 1, 100)

Accuray of model is : 0.7589743589743589

In [28]:
mod1 = svmclassifier(xtrain, ytrain, xtest, ytest, 'rbf', 10, 0.1)

Accuray of model is : 0.7923076923076923

In [29]:
mod1 = svmclassifier(xtrain, ytrain, xtest, ytest, 'rbf', 100, 0.1)

Accuray of model is : 0.7948717948717948

In [34]:
mod1 = svmclassifier(xtrain, ytrain, xtest, ytest, 'linear', 1000, 0.1)

Accuray of model is : 0.7794871794871795

In [ ]:
mod1 = svmclassifier(xtrain, ytrain, xtest, ytest, 'rbf', 10000, 0.1)

Accuray of model is : 0.7589743589743589

In [ ]:
#Based on above observations, we get the best model for c = 10, gamma = 0.1
mod1 = svmclassifier(xtrain, ytrain, xtest, ytest, 'rbf', 10, 0.1)

Accuray of model is : 0.7692307692307693

In [ ]:
import pickle

In [ ]:

with open('filename.pickle', 'wb') as handle:
    pickle.dump(mod1, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('filename.pickle', 'rb') as handle:
    b = pickle.load(handle)